In [1]:
import pandas as pd

In [6]:
#Create DataFrame Cells_Geo.csv
cells_geo = pd.read_csv("cells_geo.csv", delimiter=";")
cells_geo.drop("Unnamed: 0", axis=1, inplace=True)
cells_geo.drop_duplicates(inplace=True)
cells_geo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3931 rows x 11 columns]

In [8]:
#Create Telcom DataFrame & Drop Duplicates
telcom_1 = pd.read_csv("Telcom_dataset.csv")
telcom_2 = pd.read_csv("Telcom_dataset2.csv")
telcom_3 = pd.read_csv("Telcom_dataset3.csv")

#Confirm if duplicates exist
#telcom_1.duplicated().value_counts()

telcom_1.drop_duplicates(inplace=True)
telcom_2.drop_duplicates(inplace=True)
telcom_3.drop_duplicates(inplace=True)

telcoms = pd.concat([telcom_1, telcom_2, telcom_3])
#Remove useless columns
telcoms.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis=1, inplace=True)
telcoms

     PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0      Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  ...  /+cKZKIp41  /+cKZKIp41
2        sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  ...  051KhYDCpv  051KhYDCpv
...      ...    ...  ...         ...         ...
4995   Voice     10  ...  6467daa1db  8a96bae9c1
4996   Voice      0  ...  2aa04dcab7  f7d63a29e5
4997   Voice     62  ...  7f1f2f889f  b4ddb9e93c
4999   Voice     30  ...  98ed726da2  b4130b54ab
5000   Voice     60  ...  1c11a2fcbb  6d70dae094

[14750 rows x 7 columns]

In [9]:
#Merge Telcoms, Cells_Geo
merged_telcom = pd.merge(telcoms, cells_geo, left_on="SITE_ID", right_on="SITE_CODE")
merged_telcom.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
CELL_ID_x            0
SITE_ID              0
VILLES               0
STATUS             677
LOCALISATION         0
DECOUPZONE           0
ZONENAME            18
LONGITUDE            0
LATITUDE             0
REGION               0
AREA               256
CELL_ID_y            0
SITE_CODE            0
dtype: int64

In [10]:
merged_telcom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49702 entries, 0 to 49701
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          49702 non-null  object
 1   VALUE            49702 non-null  int64
 2   DATE_TIME        49702 non-null  object
 3   DW_A_NUMBER_INT  49702 non-null  object
 4   DW_B_NUMBER_INT  49702 non-null  object
 5   CELL_ID_x        49702 non-null  object
 6   SITE_ID          49702 non-null  object
 7   VILLES           49702 non-null  object
 8   STATUS           49025 non-null  object
 9   LOCALISATION     49702 non-null  object
 10  DECOUPZONE       49702 non-null  object
 11  ZONENAME         49684 non-null  object
 12  LONGITUDE        49702 non-null  float64
 13  LATITUDE         49702 non-null  float64
 14  REGION           49702 non-null  object
 15  AREA             49446 non-null  object
 16  CELL_ID_y        49702 non-null  object
 17  SITE_CODE        49702 non-null  object
dtypes: float64(2), int64(1), object(15)
memory usage: 7.2+ MB

In [26]:
# Usage per zone
merged_telcom["ZONENAME"].value_counts()
active_zones = ['ZONE C - Abidjan_OUEST','ZONE E - Abidjan_NORD','ZONE B - Grand-SUD','ZONE B - Abidjan_EST',
                      'ZONE D - Abidjan_SUD','ZONE D - Grand-OUEST','ZONE A - Abidjan_CENTRE','ZONE A - Grand-NORD',
                      'ZONE E - SUD-OUEST','ZONE C - Grand-EST']
active_zones_df = merged_telcom[merged_telcom['ZONENAME'].isin(active_zones)]

In [27]:
#Usage per region
merged_telcom["REGION"].value_counts()
active_regions = ['LAGUNE', 'LACS', 'BAS SASSANDRA', 'HAUT SASSANDRA',
                  'VALLE DU BANDAMA', 'SUD BANDAMA', 'SAVANE']
active_regions_df = merged_telcom[merged_telcom['REGION'].isin(active_regions)]

In [28]:
#Usage per AREA
merged_telcom["AREA"].value_counts()
active_areas = ['ABIDJAN NORTH', 'ABIDJAN_SOUTH', 'CENTRE NORTH',
                'NORTH WEST', 'SOUTH WEST']
active_areas_df = merged_telcom[merged_telcom["AREA"].isin(active_areas)]

In [67]:
#Most active Cities based on regions, zones, areas
cities_zones = active_zones_df['VILLES'].value_counts() 
cities_regions = active_regions_df['VILLES'].value_counts()
cities_areas = active_areas_df['VILLES'].value_counts()

active_cities_zones = cities_zones[cities_zones > 1000]
active_cities_regions = cities_regions[cities_region > 1000]
active_cities_areas = cities_areas[cities_areas > 1000]

active_cities_regions

YOPOUGON        8432
ABOBO           6159
COCODY          3704
ADJAME          2505
KOUMASSI        2275
MARCORY         2087
YAMOUSSOUKRO    2076
TREICHVILLE     2026
DALOA           1747
ATTECOUBE       1634
PORT-BOUET      1423
SAN-PEDRO       1291
Name: VILLES, dtype: int64

In [14]:
#Most used product
merged_telcom["PRODUCT"].value_counts()

sms      28691
Voice    21011
Name: PRODUCT, dtype: int64

In [55]:
#Most profitable product
merged_telcom.groupby(["PRODUCT"])["VALUE"].sum()

PRODUCT
Voice    1160087
sms       228609
Name: VALUE, dtype: int64